%h3= t(:delete_wiki_page) + " : " + @page.name

%h5 Please give a reason why you want to delete this page
= bootstrap_form_tag :url => delete_wiki_page_path(@page.name) , :html => { :role=>"form"}  do |f|
  = render :partial => "message" , :locals => { :f =>f}
  
