%h3= t(:edit_wiki_page) + " : " + @page.name
= bootstrap_form_tag :url => edit_wiki_page_path(@page.name) , :html => { :role=>"form"}  do |f|
  .form_group
    = f.text_area :content , :value => @page.content , :rows => page_rows(@page)
  = render :partial => "message" , :locals => { :f =>f}
  
  